<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
>
<h:head>
    <title>Exemplo</title>
</h:head>
<h:body>
    <h:form>
        <p:commandButton action="#{testBean.download}" value="Download" ajax="false"/>
    </h:form>
</h:body>

</html>
